body{
    margin: 0;
    background-color: #54695C;
    font-family: Inter;
}
.full-box{
    width: 50vw;
    min-height: 50vh;
    margin: 0 auto;
    position: relative;
}
.title{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Inter;
    color: white;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 5px;
}
.plus-box {
    margin: 0px auto;
    border: 1px solid;
    padding: 35px 40px 40px 30px;
    width: 18em;
    height: 15.75em;
    text-align: center;
    margin-top: 15%;
    background:linear-gradient(180deg, rgb(65,62,62) 50%, rgb(174,198,144) 50%) ;
    border: #000;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    transition: padding-bottom 0.5s ease-out;
}
.input-number{
    margin-top: 0px;
    border: 1px solid;
    padding: 20px 5px 20px 5px;
    background-color: #D1D7C3;
    width: 288px;
    height: 100px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.input-number{
    z-index: 2;
    position: relative;
}
.num1-input,.num2-input{
    height: 37px;
    font-weight: bold;
    border: none;
    
}
#num1,#num2{
    height: 25px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
label{
    padding: 0px 10px 0px 0px;
}
.alert-error1,.alert-error2{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 25px;
    color: red;
    font-weight: normal;
    font-size: 10px;
}
.keyboard-box{
    text-align: right;
    margin-top: 0px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    min-height: 30px;
   
}
.keyboard{
    border: none;
    height: 23px; 
    width: 40px;
    border-radius: 0px 0px 3px 3px; 
    background-color: #D1D7C3;
    
    
}
.return-btn,.delete-btn {
    letter-spacing: 0.5px;
    width: 70px;
    height: 35px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer; 
}
button:hover{
    /* color: #D1D7C3; */
    background-color: rgb(159, 163, 159);
}

.result-btn {
    width: 115px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-family: Inter;
    font-weight: normal;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    letter-spacing: 4px; 
}

#table-board-box{
    min-width: 289px;
    min-height: 180px;
    background-color: rgb(119, 131, 92);
    border-radius: 0px 0px 5px 5px;
    margin-top: -5px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#table-board-box{
    z-index: 1;
    position: relative;
}
table{
    padding-top: 7px;
    min-width: 289px;
    min-height: 180px;
    margin: 0px auto;
    transition: padding-bottom 0.5s ease-out;
}
.button-input, button{
    width: 60px;
    height: 27px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

input[type="button"]:hover {
    /* color: #D1D7C3; */
    background-color: rgb(159, 163, 159);
    cursor: pointer;
}

